@model ProductDetailsViewModel
@{
    ViewData["Title"] = "Product details";
}

<div>
    @if (@Model.ErrorMessage != null)
    {
        <div class="error">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        <div class="productDetail">
            <img src=@Model.ProductImageUrl alt=@Model.Product.ProductName>
            <br>
            @Model.Product.ProductName
            <br>
            Category: @(Model.Product.Category?.CategoryName ?? "No category")
            <br>
            Unit: @Model.Product.QuantityPerUnit
            <br>
            Price: @Model.Product.DecimalUnitPrice;
        </div>
        <form asp-controller="Cart" asp-action="AddOrder" asp-route-productId=@Model.Product.ProductId>
            <label for="Quantity">Quantity:</label>
            <input name="Quantity" type="text" value="@Model.Quantity">
            @if (Model.Quantity <= 0)
            {
                <label for="Quantity" style="color: red;">Quantity must be a positive number</label>
            }
            <input type="submit" value="Add to cart">
        </form>
    }
</div>