@model Cart

<table class="receipt">
    <tbody>
        <tr class="headerRow">
            <th class="tabHeader">Product Id</th>
            <th class="tabHeader">Product Name</th>
            <th class="tabHeader">Unit Price</th>
            <th class="tabHeader">Quantity</th>
            <th class="tabHeader">Extended Price</th>
        </tr>
        @foreach (var order in Model.OrderDetails.Values)
        {
            <tr class="itemRow">
                <td class="tabCell">@order.ProductId</td>
                <td class="tabCell">@order.Product.ProductName</td>
                <td class="tabCell">@order.DecimalUnitPrice.ToString("F")</td>
                <td class="tabCell">
                    <input type="text" value=@order.Quantity class="quantityInput">
                </td>
                <td class="tabCell">@order.ExtendedPrice.ToString("F")</td>
                <td>
                    <a asp-controller="Cart" asp-action="RemoveOrder" asp-route-productId=@order.ProductId>remove</a>
                </td>
            </tr>
        }
        @if (Model.OrderDetails.Any())
        {
            <tr><td class="table-separator" colspan="6"></td></tr>
        }
        <tr class="itemRow">
            <td></td>
            <td class="tabCell">Subtotal:</td>
            <td></td>
            <td></td>
            <td class="tabCell" style="border-top: 5px">@Model.SubTotal.ToString("F")</td>
        </tr>
    </tbody>
</table>