@model Customer?

@{
    ViewData["Title"] = "ViewAccountInfo";
}

@Html.ValidationSummary()
@if(Model != null)
{
    <div class="viewAccountInfoDiv">
        <div class="custLeft">Company:</div>
        <div class="custRight">@Model.CompanyName</div>
        <div class="custLeft">Your Title:</div>
        <div class="custRight">@Model.ContactTitle</div>
        <div class="custLeft">Address:</div>
        <div class="custRight">@Model.Address</div>
        <div class="custLeft">City:</div>
        <div class="custRight">@Model.City</div>
        <div class="custLeft">State/region:</div>
        <div class="custRight">@Model.Region</div>
        <div class="custLeft">Zipcode/postal code:</div>
        <div class="custRight">@Model.PostalCode</div>
        <div class="custLeft">Country:</div>
        <div class="custRight">@Model.Country</div>
    </div>
    <div class="clear">
        <a asp-action="ChangeAccountInfo">Change your account info.</a>
    </div>
}