@model OfferDetailsViewModel

@{
    ViewData["Title"] = "Product details";
}


<div>
    @if (@Model.ErrorMessage != null)
    {
        <div class="error">
            @Model.ErrorMessage
        </div>
    }
    else
    {
        <div class="productDetail">
            <img src=@Model.ProductImageUrl alt=@Model.Offer.ProductName>
            <br>
            @Model.Offer.ProductName
            <br>
            Category: @(Model.Offer.Category?.CategoryName ?? "No category")
            <br>
            Unit: @Model.Offer.QuantityPerUnit
            <br>
            Price: @Model.Offer.UnitPrice
        </div>
        <form asp-controller="Cart" asp-action="AddOrder" asp-route-offerId=@Model.Offer.ProductId>
            <label for="quantity">Quantity:</label>
            <input name="quantity" type="text" value="1">
            <input type="submit" value="Add to cart">
        </form>
    }
</div>