@model Order?

@{
    ViewData["Title"] = "Receipt";
}

@Html.ValidationSummary()
<div id="MainContent_lblOutput">
    <div class="receiptDiv">
        @if (Model != null)
        {
            <p>Order: @Model.OrderId</p>
            <table class="receipt">
                <tbody>
                    <tr class="headerRow">
                        <th class="tabHeader">Product Id</th>
                        <th class="tabHeader">Product Name</th>
                        <th class="tabHeader">Unit Price</th>
                        <th class="tabHeader">Quantity</th>
                        <th class="tabHeader">Extended Price</th>
                    </tr>
                    @foreach (var orderDetails in Model.OrderDetails)
                    {
                        <tr class="itemRow">
                            <td class="tabCell">
                                <a asp-controller="Product" asp-action="Details" asp-route-productId=@orderDetails.ProductId>@orderDetails.ProductId</a>
                            </td>
                            <td class="tabCell">@orderDetails.Product.ProductName</td>
                            <td class="tabCell">@orderDetails.DecimalUnitPrice.ToString("F")</td>
                            <td class="tabCell">@orderDetails.Quantity</td>
                            <td class="tabCell">@orderDetails.ExtendedPrice.ToString("F")</td>
                        </tr>
                    }
                    @if (Model.OrderDetails.Any())
                    {
                        <tr><td class="table-separator" colspan="5"></td></tr>
                    }
                    <tr class="itemRow">
                        <td></td>
                        <td class="tabCell">Subtotal:</td>
                        <td></td>
                        <td></td>
                        <td class="tabCell">@Model.SubTotal.ToString("F")</td>
                    </tr>
                    <tr class="itemRow">
                        <td></td>
                        <td class="tabCell">Freight:</td>
                        <td></td>
                        <td></td>
                        <td class="tabCell">@Model.Freight.ToString("F")</td>
                    </tr>
                    <tr class="itemRow">
                        <td></td>
                        <td class="tabCell">Total:</td>
                        <td></td>
                        <td></td>
                        <td class="tabCell">@Model.Total.ToString("F")</td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>
<br>
<a asp-controller="Product" asp-action="Search">Keep shopping</a>