@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>
    Change Password
</h2>
<p>
    Use the form below to change your password.
</p>
<p>
    New passwords are required to be a minimum of 6 characters in length.
</p>
<span class="failureNotification">
    @Html.ValidationSummary()
</span>
@using (Html.BeginForm(FormMethod.Post))
{
    <div class="accountInfo">
        <fieldset class="changePassword">
            <legend>Account Information</legend>
            <p>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </p>
            <p>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </p>
            <p>
                @Html.LabelFor(m => m.ConfirmedNewPassword)
                @Html.PasswordFor(m => m.ConfirmedNewPassword)
            </p>
        </fieldset>
        <p class="submitButton">
            <input type="submit" value="Change Password" />
        </p>
    </div>
}